<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ready To Travel</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/createPlan.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=6MTwtT0OK18O1A8FGiL349WFB2UyKhI11K5MsjXN"></script>
    <script type="text/javascript" src="/js/tmapApi.js"></script>
    <script type="text/javascript" src="/js/createPlan.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>

    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/">소개</a></li>
            <li><a href="/list">여행지</a></li>
            <li><a href="#">이용방법</a></li>
            <li><a href="/boardList">후기게시판</a></li>
            <li><a href="/login">로그인</a></li>
        </ul>
    </nav>
</header>

<div>
    <!-- 경로에 따른 요금 등 -->
    <span id="result"></span>

    <!-- 날씨 및 강수량 -->
    <span id="weather"></span>
    <span id="rain"></span>
</div>

<div id="main2">
    <div class="container">
        <div class="left-side">
            <!-- 지역이름 -->
            <h4 id="location"></h4>

            <!-- 달력 -->
            <input type="text" id="daterangepicker" name="daterangepicker" style="border: none; font-size: 30px"
                   readonly onfocus="this.blur()"/>

            <!-- 달력에서 선택한 날짜 수 -->
            <h3 id="calendarsDate"></h3>

            <!-- DropDown Menu -->
            <form method="post" action="/plan/createPlan">
                <div class="dropdown">
                    <input type="text" name="name" id="planName">
                    <input type="text" name="contents" id="planContents">

                    <button onclick="dp_menu()" class="button" type="button">여행 상세 설정</button>
                    <div style="display: none;" id="drop-content">
                        <!-- 선택한 날짜 수 만큼 input 추가 -->
                        <ul id="dateByPlan">
                        </ul>
                    </div>
                </div>
                <button id="createPlanBtn" type="button">만들기</button>
            </form>
        </div>
        <div class="right-side" style="border: black 1px solid;">
            <!-- T MAP -->
            <div id="map_div"></div>
        </div>

        <button id="createBtn" type="button">submit</button>
        <button id="removeBtn" type="button">cancel</button>
    </div>
</div>
</body>
</html>