<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ready To Travel</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/createPlan.css">
    <!--    <link rel="stylesheet" href="/css/profile.css">-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=yIMaVf12xnauu7aRo40iL6EWEJXjwVhnbBr6Lc3d"></script>
    <!--tmap API js 자리-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li class="logo">
                <a href="/">
                        <span class="mainicon">
                            <!-- <img src="/image/rttlogo.png" style="width: 45px; height: 45px;"> -->
                            <img src="/image/rttlogo.png" style="width: 45px; height: 45px;">
                        </span>
                    <span class="title">Ready To Travel</span>
                </a>
            </li>

            <li class="my_page hovered">
                <a>
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                    <span class="title">마이페이지</span>
                </a>
            </li>

            <li class="group_page">
                <a>
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">그룹페이지</span>
                </a>
            </li>

            <li class="plan_page">
                <a>
                        <span class="icon">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                        </span>
                    <span class="title">계획페이지</span>
                </a>
            </li>

            <li class="review_page">
                <a>
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                    <span class="title">나의 여행 후기</span>
                </a>
            </li>

            <li class="review_page">
                <a id="createBtn">
                        <span class="icon">

                        </span>
                    <span class="title">경로 최적화</span>
                </a>
            </li>

            <li class="review_page">
                <a id="createPlanBtn">
                        <span class="icon">

                        </span>
                    <span class="title">계획 생성</span>
                </a>
            </li>

            <li class="review_page">
                <a id="removeBtn">
                        <span class="icon">

                        </span>
                    <span class="title">마커 삭제</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= 햄버거버튼 토글 ==================== -->

    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="user"></div>
        </div>

        <div class="left-side">
            <div id="distance">
                <!-- 거리 -->
                <span id="result">총 거리 : </span><br>

                <!-- 날씨 및 강수량 -->
                <span id="weather">날씨 : </span><br>
                <span id="rain">강수량 : </span>
            </div>
            <!-- 지역이름 -->
            <div>
                <h4 id="location">지명</h4>
            </div>

            <!-- 달력 -->
            <input type="text" id="daterangepicker" name="daterangepicker"
                   style="border: none; margin-left:5%; font-size: 29px">

            <!-- 달력에서 선택한 날짜 수 -->
            <h3 id="calendarsDate"></h3>

            <div class="radio_button">
                <ul>
                    <li>
                        <input type="radio" name="planType" value="0" checked>가족
                    </li>
                    <li>
                        <input type="radio" name="planType" value="1">커플
                    </li>
                    <li>
                        <input type="radio" name="planType" value="2">혼자
                    </li>
                    <li>
                        <input type="radio" name="planType" value="3">친구
                    </li>
                </ul>
            </div>

            <label for="planName">여행 제목</label>
            <input style="margin-bottom: 5px; margin-top: 5px" type="text" name="name" id="planName">
            <button id="openModal">여행 설명</button>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Plan Contents</h2>
                    <label for="planContents">내용</label><textarea style="width:100%; height: 406px; resize: none" type="text"
                                                                  name="contents" id="planContents"></textarea>
                </div>
            </div>

            <!-- DropDown Menu -->
            <div class="dropdown">
                <button onclick="dp_menu()" class="button" type="button">여행 상세 설정</button>
            </div>

            <div style="display: none;" id="drop-content">
                <!-- 선택한 날짜 수 만큼 input 추가 -->
                <ul id="dateByPlan">
                </ul>
            </div>
        </div>

        <div class="right-side" id="map_wrap">
            <!-- T MAP -->
            <div id="map_div"></div>
        </div>

    </div>

</div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="/js/tmapApi.js"></script>
<script type="text/javascript" src="/js/member/profile.js"></script>
</html>