<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ready To Travel</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/createPlan.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=yIMaVf12xnauu7aRo40iL6EWEJXjwVhnbBr6Lc3d"></script>
    <!--tmap API js 자리-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>

    <!--NAV-->
    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/place">여행지</a></li>
            <li><a href="/guide">이용방법</a></li>
            <li><a href="/board/list">후기게시판</a></li>
            <!-- 로그인  123 -->
            <li><a th:if="${session.memberDTO != null}" href="/member/profile" th:text="${session.memberDTO.name}"></a></li>
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <!-- 이게 비로그인 456-->
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>
        </ul>
    </nav>
</header>

<div id="main2">
    <nav class="viewNav">
        <a href="#" class="nav-item is-active">
            <li style="list-style: none" class="viewNavLi">
                <button class="custom-btn btn-3" id="createBtn" type="button"><span>경로 최적화</span></button>
            </li>
            <li style="list-style: none" class="viewNavLi">
                <button class="custom-btn btn-3" id="updatePlanBtn"><span>계획 수정</span></button>
            </li>
            <li style="list-style: none" class="viewNavLi">
                <button class="custom-btn btn-3" id="removeMarker" type="button"><span>마커 삭제</span></button>
            </li>
        </a>
    </nav>
    <div class="container">
        <div class="left-side">
            <!-- 거리 -->
            <span id="result">총 거리 : </span><br>

            <div>
            <ul>
                <li id="dateLi"></li>
            </ul>
            </div>

            <div class="radio_button">
                <ul>
                    <li>
                        <input type="radio" name="planType" value="0" checked>가족
                    </li>
                    <li>
                        <input type="radio" name="planType" value="1">커플
                    </li>
                    <li>
                        <input type="radio" name="planType" value="2">혼자
                    </li>
                    <li>
                        <input type="radio" name="planType" value="3">친구
                    </li>
                </ul>
            </div>

            <label for="planName">여행 제목</label>
            <input style="margin-bottom: 5px; margin-top: 5px" type="text" name="name" id="planName">
            <button id="openModal">여행 설명</button>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Plan Contents</h2>
                    <label for="planContents">내용</label><textarea style="width: 100%; height: 406px; resize: none" type="text"
                                                                  name="contents" id="planContents"></textarea>
                </div>
            </div>
        </div>
        <div class="right-side map_wrap" id="map_wrap">
            <!-- T MAP -->
            <div id="map_div"></div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="/js/tmapApiUpdate.js"></script>
</html>