<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ready To Travel</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/viewPlan.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=6MTwtT0OK18O1A8FGiL349WFB2UyKhI11K5MsjXN"></script>
    <!--tmap API js 자리-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>

    <!--NAV-->
    <nav>
        <ul>
            <li><a href="#">소개</a></li>
            <li><a href="/list">여행지</a></li>
            <li><a href="#">이용방법</a></li>
            <li><a href="/boardList">후기게시판</a></li>
            <!-- 로그인 -->
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <!-- 이게 비로그인 -->
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="timeline">
        <nav class="viewNav">
            <a href="#" class="nav-item is-active">
                <li style="list-style: none" id="locationName"></li>
            </a>
            <span class="nav-indicator"></span>
        </nav>

        <div id="map_div">
        </div>

        <div class="c-md-2">
            <div class="tl-item tl-year-wrap">
                <span class="tl-year-back">&nbsp;</span><span class="tl-year">2023</span>
                <div class="tl-event">
                    <h2 id="planName"></h2>
                    <h2 id="planContents"></h2>
                </div>
            </div>

            <div class="tl-item tl-end-div">
                <div class="tl-end">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/tmapApiView.js"></script>
</html>