<!------------------------------------------------------------------------------------
 ____                    _          _____          _____                            _
| ___ \                 | |        |_   _|        |_   _|                          | |
| |_/ /  ___   __ _   __| | _   _    | |    ___     | |   _ __   __ _ __   __  ___ | |
|    /  / _ \ / _` | / _` || | | |   | |   / _ \    | |  | '__| / _` |\ \ / / / _ \| |
| |\ \ |  __/| (_| || (_| || |_| |   | |  | (_) |   | |  | |   | (_| | \ V / |  __/| |
\_| \_| \___| \__,_| \__,_| \__, |   \_/   \___/    \_/  |_|    \__,_|  \_/   \___||_|
                             __/ |
                            |___/
------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div>
    <h3>게시물 작성</h3>
    <div>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label>제목:</label>
                <input type="text" name="boardName">
            </div>
            <div>
                <label>내용:</label>
                <input type="text" name="boardContent">
            </div>

            <div>
                <input type="file" name="multipartFiles">
            </div>
            <div>
                <button>등록</button>
                <a href="../">
                    <button type="button">취소</button>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>