<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>

    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/place">여행지</a></li>
            <li><a href="/guide">이용방법</a></li>
            <li><a href="/board/list">후기게시판</a></li>
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1>게시판</h1>

    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <td th:text="${item.boardNum}">boardNum</td>
            <td>
                <a th:href="@{'/board/info/' + ${item.boardNum}}" style="text-decoration: none"><span th:text="${item.boardName}">boardName</span></a>
            </td>
            <td th:text="${item.boardWriter}">boardWriterName</td>
            <td th:text="${#dates.format(item.boardDateCreate, 'yyyy-MM-dd')}">boardCreateDate</td>
        </tr>

        </tbody>
    </table>
    <a href="/board/create" class="btn-create">새 글 작성</a>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:class="${list.first ? 'disabled' : ''}">
                <a class="page-link" th:if="${!list.first}" th:href="@{/board/list(page=${list.number - 1})}"
                   th:text="이전"></a>
                <span th:if="${list.first}" class="page-link disabled">이전</span>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, list.totalPages - 1)}" th:if="${list}">
                <a class="page-link" th:href="@{/board/list(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:class="${list.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:if="${list.hasNext()}" th:href="@{/board/list(page=${list.number + 1})}"
                   th:text="다음"></a>
                <span th:if="${!list.hasNext()}" class="page-link disabled">다음</span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>