<!------------------------------------------------------------------------------------
 ____                    _          _____          _____                            _
| ___ \                 | |        |_   _|        |_   _|                          | |
| |_/ /  ___   __ _   __| | _   _    | |    ___     | |   _ __   __ _ __   __  ___ | |
|    /  / _ \ / _` | / _` || | | |   | |   / _ \    | |  | '__| / _` |\ \ / / / _ \| |
| |\ \ |  __/| (_| || (_| || |_| |   | |  | (_) |   | |  | |   | (_| | \ V / |  __/| |
\_| \_| \___| \__,_| \__,_| \__, |   \_/   \___/    \_/  |_|    \__,_|  \_/   \___||_|
                             __/ |
                            |___/
------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InitPassword</title>
</head>
<body>
<div>
    <form method="post" action="initPassword">
        <label>아이디 입력</label>
        <input name = "id" >
        <label>이메일 입력</label>
        <input name = "email" >
        <button>비밀번호 찾기</button>
    </form>
</div>
</body>
</html>