<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTT 마이페이지</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" href="/image/RTT-favicon.png" type="image/x-icon">
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
</head>

<body style="overflow-y: hidden">
<!-- =============== Navigation ================ -->
<div class="container">
    <div class="navigation">
        <ul>
            <li class="logo">
                <a href="/">
                        <span class="mainicon">
                            <img src="/image/rttlogo.png" style="width: 45px; height: 45px;">
                        </span>
                    <span class="title">Ready To Travel</span>
                </a>
            </li>

            <li class="my_page hovered">
                <a>
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                    <span class="title">마이페이지</span>
                </a>
            </li>

            <li class="group_page">
                <a>
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">그룹페이지</span>
                </a>
            </li>

            <!--<li class="plan_page">
                <a>
                        <span class="icon">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                        </span>
                    <span class="title">계획페이지</span>
                </a>
            </li>-->

            <li class="review_page">
                <a>
                        <span class="icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                    <span class="title">나의 여행 후기</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= 햄버거버튼 토글 ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="user">
                <img th:src="'/img/' + ${memberDTO.profileIMG}" />
            </div>
        </div>

        <!-- ======================= 여행지/ID카드 ================== -->
        <div class="cardBox">
            <div id="my_page" class="place_card">
                <div class="cardHeader">
                    <h2>내 정보</h2>
                </div>
                <div class="my_card">
                    <div class="id_card_tag_strip"></div>
                    <div class="id_card_hook"></div>
                    <div class="id_card_holder">
                        <div class="id_card">
                            <div class="header"><img src="/image/rttlogo.png">
                            </div>
                            <div class="photo">
                                <img th:src="${'/img/' + memberDTO.profileIMG}"/>
                            </div>
                            <h2 th:text="${memberDTO.name}">회원 이름</h2>
                            <hr>
                            <h3 th:text="${#dates.format(memberDTO.signupDate, 'yyyy-MM-dd')}">회원 가입일</h3>
                        </div>
                    </div>
                </div>
                <!-- 여기부터 모달임 -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="modal_header">
                            <div class="close-button close-button-my">
                                <ion-icon name="close-outline"></ion-icon>
                            </div>
                        </div>


                        <h2>프로필 수정</h2>
                        <!-- 이미지 폼태그 -->
                        <form method="post" action="/member/profile/update" enctype="multipart/form-data">
                            <div class="modal_photo ">
                                <label for="fileUpload">
                                    <img style="width: 150px; height: 150px; border-radius: 50%; cursor: pointer;"
                                         th:src="${'/img/' + memberDTO.profileIMG}">
                                </label>
                            </div>
                            <div class="fileupload_button">
                                <label for="fileUpload">
                                    <ion-icon style="width: 30px;height: 30px;position: absolute;right: 235px;top: 235px; cursor: pointer;" name="camera-outline"></ion-icon>
                                </label>
                                <input type="file" id="fileUpload" name="profileFile" style="display: none;">
                            </div>

                            <div class="modal_id ">
                                <label for="text"><span>아이디</span></label>
                                <input type="text" name="id" readonly th:value="${memberDTO.memberId}">
                            </div>


                            <!-- 이름 폼태그 -->
                            <div class="modal_name ">
                                <label for="text"><span>이름</span></label>
                                <input type="text" name="name" th:value="${memberDTO.name}">
                            </div>
                            <!-- 비밀번호 폼태그 -->
                            <div class="password-box">
                                <div class="modal_password">
                                    <label for="password"><span>비밀번호</span></label>
                                    <input type="password" name="password" placeholder="password">
                                    <div class="eyes">
                                        <ion-icon style="width: 25px; height: 25px;" name="eye-outline"></ion-icon>
                                    </div>
                                </div>
                                <div class="modal_password_confirm">
                                    <label for="password_confirm"><span>비밀번호 확인</span></label>
                                    <input type="password" name="password_confirm" placeholder="password">
                                </div>
                            </div>


                            <div class="modal_phonenum">
                                <label for="text"><span>전화번호</span></label>
                                <input type="text" name="phonNum" th:value="${memberDTO.phoneNum}" readonly>
                            </div>

                            <div class="modal_email">
                                <label for="text"><span>이메일</span></label>
                                <input type="email" name="email" readonly th:value="${memberDTO.email}">
                            </div>

                            <div class="modal_signupdate">
                                <label for="date"><span>가입날짜</span></label>
                                <input type="text" name="date"
                                       th:value="${#dates.format(memberDTO.signupDate, 'yyyy-MM-dd')}" readonly>
                            </div>
                            <div class="submit-button">
                                <button type="submit" class="button">저장하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="calendar_card">
                <div class="cardHeader">
                    <h2>캘린더</h2>
                </div>
                <div id='calendar-container' class="calendarSetting">
                    <div id='calendar'></div>
                </div>
            </div>

            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@그룹 모달@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
            <div id="modal3" class="modal">
                <div class="modal-content3">

                    <div class="modal_header">
                        <div class="close-button close-button-group">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                    </div>

                    <div>
                        <h1 style="text-align: center; margin-top:50px;">나의 그룹</h1>
                        <h3 class="groupName" style="font-size: 25px;text-align: center;"></h3>
                        <div style="margin-left: 30px; width: 1130px; margin-top: 30px;">
                            <p class="modal3-1-text"></p>
                        </div>
                    </div>
                    <div>
                        <div class="right-content">
                            <div class="task-box yellow">
                                <div class="description-task">
                                    <div class="task-name">
                                        구성원
                                    </div>
                                </div>
                                <div class="more-button" th:data-value="${memberDTO.num}"><ion-icon name="ellipsis-vertical-outline"></ion-icon></div>
                                <div id="modal3-1" class="modal3-1">
                                    <div class="modal3-1-content">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>아이디</th>
                                                <th>이름</th>
                                                <th>이메일</th>
                                                <th>전화번호</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody id="groupEditTbody">
                                            <tr>

                                                <td class="deleteTd"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="members">


                                </div>
                            </div>
                            <!-- more-button은 세션이 그룹장인사람에게만 노출되야합니다 -->

                        </div>
                        <div class="url-area">
                            <input type="text" id="urlInput" readonly style="display: none;">
                            <button class="button" id="copyButton">초대코드 복사하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div id="modal4" class="modal">
                <div class="modal-content4">
                    <div class="modal_header">
                        <div class="close-button close-button-plan">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                    </div>
                    <h1 style="margin-top: 50px; text-align: center;">나의 계획</h1>
                    <div class="modal_plan">
                        <table>
                            <thead>
                            <tr>
                                <th>글번호</th>
                                <th>제목</th>
                                <th>장소</th>
                                <th>작성날짜</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="#">신강원빈구라임</a></td>
                                <td>대전</td>
                                <td>2023-06-12</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="#">신강동원빈구라임</a></td>
                                <td>서울</td>
                                <td>2023-06-12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
            <div id="modal5" class="modal">
                <div class="modal-content5">
                    <div class="modal_header">
                        <div class="close-button close-button-review">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                    </div>
                    <h1 style="margin-top: 50px; text-align: center;">나의 여행 후기</h1>
                    <div class="modal_review">
                        <table>
                            <thead>
                            <tr>
                                <th>제목</th>
                                <th>작성날짜</th>
                            </tr>
                            </thead>

                            <tbody class="boardListTbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/js/member/profile.js"></script>

</body>

</html>

