<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script src="/js/member/signup.js"></script>
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
    <link rel="icon" href="/image/RTT-favicon.png" type="image/x-icon">
</head>
<body>
<section class="login-form">
    <a href="../.."><h1>RTT</h1></a>

    <form name="signup_form" method="post">
        <button class="btn-area2" type="button" onclick="checkId(true)">중복확인</button>
        <div class="int-area">
            <input type="text" name="memberId" id="id" autocomplete="off" required>
            <label for="id">아이디</label>
        </div>

        <button class="btn-area2" type="button" onclick="checkEmailButton(true)">메일인증</button>
        <div class="int-area">
            <input type="email" id="email" name="email" autocomplete="off" required>
            <label for="id">이메일</label>
        </div>

        <button class="btn-area2" type="button" id="mailValidationButton" onclick="validationCodeButton(true)">인증확인</button>
        <div class="int-area">
            <input type="text" id="mailValidationCodeInput" name="mailValidateCode" autocomplete="off" required>
            <label for="id" id="mailValidationCodeLabel">보안코드 확인</label>
        </div>

        <div class="int-area">
            <input type="text" name="name" autocomplete="off" required>
            <label for="id">이름</label>
        </div>

        <div class="int-area">
            <input type="tel" name="phoneNum" autocomplete="off" required>
            <label for="id">휴대폰 전화번호</label>
        </div>

        <div class="int-area">
            <input type="password" name="password" autocomplete="off" required>
            <label for="id">비밀번호</label>
        </div>
        <div class="int-area">
            <input type="password" name="passwd_valid" autocomplete="off" required>
            <label for="id">비밀번호 확인</label>
        </div>

        <div class="btn-area">
            <button id="btn" type="button" onclick="signup()">회원가입</button>
            <a href="/member/login"><button type="button">취소</button></a>
        </div>
    </form>
</section>
</body>
</html>