<!------------------------------------------------------------------------------------
 ____                    _          _____          _____                            _
| ___ \                 | |        |_   _|        |_   _|                          | |
| |_/ /  ___   __ _   __| | _   _    | |    ___     | |   _ __   __ _ __   __  ___ | |
|    /  / _ \ / _` | / _` || | | |   | |   / _ \    | |  | '__| / _` |\ \ / / / _ \| |
| |\ \ |  __/| (_| || (_| || |_| |   | |  | (_) |   | |  | |   | (_| | \ V / |  __/| |
\_| \_| \___| \__,_| \__,_| \__, |   \_/   \___/    \_/  |_|    \__,_|  \_/   \___||_|
                             __/ |
                            |___/
------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script src="/js/member/signup.js"></script>
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
</head>
<body>
<section class="login-form">
    <a href="../.."><h1>RTT</h1></a>
    <form name="signup_form" method="post">
        <div class="int-area">
            <button class="btn-area2" type="button" onclick="checkId(true)">중복확인</button>
            <input type="text" name="memberId" id="id" autocomplete="off" required>
            <label for="id">아이디</label>

        </div>
        <div class="int-area">
            <button class="btn-area2" type="button" onclick="checkEmail(true)">메일인증</button>
            <input type="text" name="email" autocomplete="off" required>
            <label for="id">이메일</label>
            <button class="btn-area2" type="button" id="hiddenButton" onclick="validationCode(true)">보안코드 확인</button>
            <input type="text" id="hiddenInput" name="mailValidateCode" autocomplete="off" required>
        </div>

        <div class="int-area">
            <input type="password" name="password" id="pw" autocomplete="off" required>
            <label for="id">비밀번호</label>
        </div>
        <div class="int-area">
            <input type="password" name="passwd_valid" autocomplete="off" required>
            <label for="id">비밀번호 확인</label>
        </div>

        <div class="btn-area">
            <button id="btn" type="button" onclick="signup()">회원가입</button>
            <a href="/member/login"><button type="button">취소</button></a>
        </div>
    </form>
</section>
</body>
</html>