<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 ERROR</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/error.css">
<body>
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                <span class="inner-status">앗! 길을 잃으셨네요</span>
                <span class="inner-detail">
                    찾으시는 페이지를 찾을 수 없습니다.
                    <a href="/" class="btn btn-info mtl"><i class="fa fa-home"></i>
                        홈으로 돌아가기
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>