/* 공통요소 헤더부분 css 및 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);  body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, span, * {font-family: 'Noto Sans KR', sans-serif;}
html{scroll-behavior: smooth;}
*, *:before, *:after {box-sizing: inherit;}
.logo a {text-decoration-line: none;color: black;}
.logo b {font-size: 30px;}
.logo h7 {font-size: 15px;}
.logo:hover a{color: skyblue;}
body {max-width: 1920px;font-family: 'Noto Serif KR', serif;margin: 0;padding: 0;overflow-x: hidden;}
header {align-items: center; background-color:white; /* 원하는 색상으로 설정 */max-width: 1920px;color: #000;display: flex;justify-content: space-between;padding: 1%;}
nav {font-family: 'Noto Serif KR', serif;}nav li a::after {content: "";position: absolute;bottom: -1px;left: 50%;transform: translateX(-50%);height: 4px;background: #f1c40f;transition: all .2s ease-out;border-radius: 10px;width: 0;}nav li a:hover::after {width: 100%;}nav li a {color: black;padding: 10px 12px;position: relative;}nav ul {list-style: none;margin: 0;padding: 0;display: flex;}nav a {color: black;text-decoration: none;}
footer {height: 200px;background:url(mainN7.jpg);display: flex;justify-content: center;align-items: center;font-size: 14px;color: #666;}
/* 공통요소*/
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline_bg_img {
    display: none;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 30px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 50px 10px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: #ffffff80;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }

    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 0px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;

    background-postion: center;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 58px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.demo-footer {
    padding: 60px 0;
    text-align: center;
}

.demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
}