/* 공통요소 헤더부분 css 및 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, span, * {
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.logo a {
    text-decoration-line: none;
    color: black;
}

.logo b {
    font-size: 30px;
}

.logo h7 {
    font-size: 15px;
}

.logo:hover a {
    color: skyblue;
}

body {
    max-width: 1920px;
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    align-items: center;
    background-color: white; /* 원하는 색상으로 설정 */
    max-width: 1920px;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.fixed-header {
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff !important;
    transition: background-color 500ms linear;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
    color: #000 !important;
}

nav {
    font-family: 'Noto Serif KR', serif;
}

nav li a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background: #f1c40f;
    transition: all .2s ease-out;
    border-radius: 10px;
    width: 0;
}

nav li a:hover::after {
    width: 100%;
}

nav li a {
    color: black;
    padding: 10px 12px;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
}

footer {
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
}

/* 공통요소*/

#map_div {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    padding: 10px 40px;
    font-size: 20px;
    background-color: skyblue;
    color: white;
}

#drop-content {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#drop-content a {
    display: block;
    font-size: 20px;
    background-color: #dfdfdf;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}

ul {
    display: initial;
    margin-block-start: initial;
    margin-block-end: initial;
    margin-inline-start: initial;
    margin-inline-end: initial;
    padding-inline-start: initial;
    list-style: none;
    padding-left: 0px;
}


.logo a {
    text-decoration-line: none;
    color: black;
}

.logo b {
    font-size: 30px;
}

.logo h7 {
    font-size: 15px;
}

body {
    max-width: 1920px;
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    max-width: 1920px;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    transition: background-color 500ms linear;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

nav {
    font-family: 'Noto Serif KR', serif;
}

nav li a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background: #f1c40f;
    transition: all .2s ease-out;
    border-radius: 10px;
    width: 0;
}

nav li a:hover::after {
    width: 100%;
}

nav li a {
    color: black;
    padding: 10px 12px;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav a {
    color: black;
    text-decoration: none;
}

/* 푸터 */
footer {
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
}

#main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media only screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        height: auto;
    }

    .right-side {
        display: none;
        background-size: cover;
    }

    #startA {
        margin-top: 15%;
    }
}

.calendarBtn {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 4px;
}

#location {
    margin-top: 2%;
    font-size: 150%;
}

#distance {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.radio_button ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.calendarParents {
    width: 70%;
    margin-bottom: 2em;
    margin-left: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.calendarParents button {
    text-align: center;
}

.subBtn {
    margin-top: 3px;
}

.deleteBtn {
    margin-left: 1em;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-yellow-outline:hover {
    background-color: #fce205;
    color: #6e6e6e;
}

.w-btn-yellow-outline {
    border: 3px solid #fce205;
    color: #6e6e6e;
}

.w-btn-yellow {
    background-color: #fce205;
    color: #6e6e6e;
}


.w-btn-red-outline {
    border: 3px solid #ff5f2e;
    color: #6e6e6e;
}

.w-btn-red {
    background-color: #ff5f2e;
    color: #e1eef6;
}

.w-btn-red-outline:hover {
    background-color: #ff5f2e;
    color: #e1eef6;
}

.modal {
    display: none; /* 모달 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하도록 설정 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#planContents {
    width: 100%;
    height: 406px;
    outline: none;
}

.viewNav {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 39%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 7%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.viewNav a li button {
    margin-left: 5px;
}

.viewNavLi {
    float: left;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 3 */
.btn-3 {
    background: skyblue;
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: skyblue;
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: skyblue;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: skyblue;
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.planBtn {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: skyblue;
    color: #fff;
    border: none;
    position: relative;
    height: 25px;
    font-size: 15px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    outline: none;
}

.planBtn:hover {
    background: #fff;
    color: skyblue;
}

.planBtn:before, .planBtn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: skyblue;
    transition: 400ms ease all;
}

.planBtn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.planBtn:hover:before, .planBtn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
}


/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: skyblue;
    border-left: 10px solid skyblue;
    transition: 0.5s;
    overflow: hidden;
    scroll-snap-align: start;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: white;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
}


.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: black;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .mainicon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 45px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

 /*===================== Main ===================== */
.main {
    display: flex;
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    /*width: 100%;*/
    height: 60px;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

h2 {
    margin: 5px 0;
}
h3 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 5px;
    /* font-size: 5px;
    margin: 2px; */
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f5f5f5;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: skyblue;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.left-side {
    width: 20%;
    height: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    margin-right: 150px;

}

.right-side {
    width: 80%;
    background-color: #000;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }

    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }


@media (max-width: 768px) {
    .recentOrders {
        overflow-x: auto;
    }
    .status.inProgress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    /*.main.active .toggle {*/
    /*    color: #fff;*/
    /*    position: fixed;*/
    /*    right: 0;*/
    /*    left: initial;*/
    /*}*/
}
@media (max-width: 600px) {
    .modal .close-button {
        margin-right: 50px;
    }
}