/* 공통요소 헤더부분 css 및 */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Noto+Serif+KR&display=swap');

html{scroll-behavior: smooth;}
.logo a {text-decoration-line: none;color: black;}
.logo b {font-size: 30px;}
.logo h7 {font-size: 15px;}
body {max-width: 1920px;font-family: 'Noto Serif KR', serif;margin: 0;padding: 0;overflow-x: hidden;}
header {align-items: center; background-color:white; /* 원하는 색상으로 설정 */max-width: 1920px;color: #000;display: flex;justify-content: space-between;padding: 1%; /*-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);*/}
.fixed-header {align-items: center;background-color: white;position: fixed;top: 0;width: 98%;z-index: 9999;}
nav {font-family: 'Noto Serif KR', serif;}
nav li a::after {content: "";position: absolute;bottom: -1px;left: 50%;transform: translateX(-50%);height: 4px;background: #f1c40f;transition: all .2s ease-out;border-radius: 10px;width: 0;}
nav li a:hover::after {width: 100%;}
nav li a {color: black;padding: 10px 12px;position: relative;}
nav ul {list-style: none;margin: 0;padding: 0;display: flex;}
nav a {color: black;text-decoration: none;}
footer {height: 50px;background-color: #f5f5f5;display: flex;justify-content: center;align-items: center;font-size: 14px;color: #666;}
/* 공통요소*/

body{
    background-image: url(https://www.dropbox.com/s/gmiv2rgpnegui0k/image1.jpeg?dl=1);
    height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
}

.site-wrap {
    max-width: 700px;
    margin: 0 auto;
    padding: 10rem 2rem;
}

section {
    margin-bottom: 10rem;
    padding: 4rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(32, 71, 84, 0.97), 0 0 0 3px rgba(32, 71, 84, 0.98);
}

section:last-child {
    margin-bottom: 0;
}

.triggerOnScroll {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.splitting .char {
    color: transparent;
}
.splitting .char:after {
    visibility: visible;
    color: #204754;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.active .char:after {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 950px) {
    h1 {
        font-size: 3.4rem;
        line-height: 3.6rem;
    }

    p {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .site-wrap {
        padding: 6rem 1rem;
    }

    section {
        margin-bottom: 6rem;
        padding: 2.4rem;
    }
}
