/* 공통요소 헤더부분 css 및 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);  body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, span, * {font-family: 'Noto Sans KR', sans-serif;}
html{scroll-behavior: smooth;}
.logo a {text-decoration-line: none;color: black;}
.logo b {font-size: 30px;}
.logo h7 {font-size: 15px;}
.logo:hover a{color: skyblue;}
body {max-width: 1920px;font-family: 'Noto Serif KR', serif;margin: 0;padding: 0;overflow-x: hidden;}
header {align-items: center; background-color:white; /* 원하는 색상으로 설정 */max-width: 1920px;color: #000;display: flex;justify-content: space-between;padding: 1%; /*-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);*/}
.fixed-header {align-items: center;background-color: white;position: fixed;top: 0;width: 98%;z-index: 9999;}
nav {font-family: 'Noto Serif KR', serif;}
nav li a::after {content: "";position: absolute;bottom: -1px;left: 50%;transform: translateX(-50%);height: 4px;background: #f1c40f;transition: all .2s ease-out;border-radius: 10px;width: 0;}
nav li a:hover::after {width: 100%;}
nav li a {color: black;padding: 10px 12px;position: relative;}
nav ul {list-style: none;margin: 0;padding: 0;display: flex;}
nav a {color: black;text-decoration: none;}
footer {height: 50px;background-color: #f5f5f5;display: flex;justify-content: center;align-items: center;font-size: 14px;color: #666;}
/* 공통요소*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Serif KR", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    position: relative;
    background-image: url(https://www.dropbox.com/s/18j1sotyp0ds18e/1.jpg?dl=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
}

h4{
    margin-bottom: 5%;
    color: white;
}
body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.login-form{
    position: relative;
    z-index: 2;
    margin-top: -10%;
}
.login-form h1{
    margin-top: 15px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
    color: #ffffff;

}
.login-form a{
    text-decoration: none;
}
.login-form :hover h1{
    color: skyblue;
}
.int-area:first-child{
    margin-top: 0;
}
.int-area{
    width: 400px;
    position: relative;
    margin-top: 20px;
}
/*인풋창 조지기1*/
.int-area input{
    width: 100%;
    padding: 20px 22px 13px;
    /*background-color: transparent;*/
    border: none;
    font-size: 15px; color: #ffffff;
    outline: none;
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
}
.int-area label{
    position: absolute; left: 10px; top: 15px;
<<<<<<< HEAD
    font-size: 14px; color: white;
    transition: all 0.28s ease;
=======
    font-size: 18px; color: #ffffff;
    transition: all 0.5s ease;
>>>>>>> upstream/dev
}
.int-area label.warning {
    color: red;
    animation: warning 3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% { transform: translateX(-8px); }
    25% { transform: translateX(8px); }
    50% { transform: translateX(-8px); }
    75% { transform: translateX(8px); }
}
/*인풋창 조지기 2*/
.int-area input:focus + label,
.int-area input:valid + label{
    top:-2px;
    font-size: 0px;
    color: #999;
}
.btn-area{
    margin-top: 30px;
}
.btn-area button{
    width: 100%;
    height: 50px;
    background: #87ceeb;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor:pointer;
}
.btn-area button:hover {
    color: yellow;
}
.caption{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.caption a{
    font-size: 15px;
    text-decoration: none;
    color: white;

}
.caption div:nth-child(2) a {
    color: white;

}
.caption div:nth-child(2):hover a {
    color: skyblue;
    border-bottom: 1px solid skyblue;
}
.caption div:nth-child(1):hover a {
    color: skyblue;
    border-bottom: 1px solid skyblue;
}