/* 공통요소 헤더부분 css 및 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);  body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, span, * {font-family: 'Noto Sans KR', sans-serif;}
html{scroll-behavior: smooth;}
*, *:before, *:after {box-sizing: inherit;}
.logo a {text-decoration-line: none;color: black;}
.logo b {font-size: 30px;}
.logo h7 {font-size: 15px;}
.logo:hover a{color: skyblue;}
body {max-width: 1920px;font-family: 'Noto Serif KR', serif;margin: 0;padding: 0;overflow-x: hidden;}
header {align-items: center; background-color:white; /* 원하는 색상으로 설정 */max-width: 1920px;color: #000;display: flex;justify-content: space-between;padding: 1%;}
.fixed-header {align-items: center;position: fixed;top: 0;width: 100%;z-index: 9999;background-color: #fff !important;transition: background-color 500ms linear; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;color: #000 !important;}
nav {font-family: 'Noto Serif KR', serif;}
nav li a::after {content: "";position: absolute;bottom: -1px;left: 50%;transform: translateX(-50%);height: 4px;background: #f1c40f;transition: all .2s ease-out;border-radius: 10px;width: 0;}
nav li a:hover::after {width: 100%;}
nav li a {color: black;padding: 10px 12px;position: relative;}
nav ul {list-style: none;margin: 0;padding: 0;display: flex;}
nav a {color: black;text-decoration: none;}
footer {height: 50px;background-color: #f5f5f5;display: flex;justify-content: center;align-items: center;font-size: 14px;color: #666;}
/* 공통요소*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -52px;
    justify-content: space-between;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.card img {
    margin-top: 5px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin-top: 10px;
    font-size: 20px;
}
.card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.card p {
    margin-top: 10px;
    font-size: 16px;
}
.card-box{
    border: none;
    background-color: white;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.modal-dialog{
    top: 10%;
    display: flex;
    max-width: 1200px;
}
.modal-body{
    display: flex;
}
.card_left{

    margin-right: 20px;
}
.card_right{
    margin-left: 20px;
    margin-top: 5%;
    text-align: start;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}