/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* =============== Globals ============== */
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
}


/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: skyblue;
    border-left: 10px solid skyblue;
    transition: 0.5s;
    overflow: hidden;
    scroll-snap-align: start;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: white;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
}


.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: black;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .mainicon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 45px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: black;
}

.cardBox .card .cardName {
    color: black;
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: black;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: white;
}


.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return {
    padding: 2px 4px;
    background: #f00;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.place_card {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 100px;
}
.place_card .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.place_card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place_card table{
    border-radius: 20px;
    border:solid  black;
}
.place_card table tr td {
    padding: 12px 10px;
    border-radius: 20px;
}
.place_card table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}
.place_card table tr td h4 span {
    font-size: 14px;
    color: black;
}
.place_card table tr:hover {
    background: black;
    color: white;
}
.place_card table tr:hover td h4 span {
    color: white;
}

/* 내정보 카드 */
.id_card_holder {
    width: 400px;
    height: 450px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
}
.id_card_holder:after {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 140px;
    position: absolute;
    top: 140px;
    border-radius: 0 5px 5px 0;
}
.id_card_holder:before {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 140px;
    position: absolute;
    top: 140px;
    left: 389px;
    border-radius: 5px 0 0 5px;
}
.id_card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.id_card img {
    margin: 0 auto;
}
.header img {
    width: 50px;
}
.photo{
    width: 300px;
    height: 298px;
    margin: 0 auto;
}
.photo img {
    width: 250px;
    height: 270px;
    margin-top: 15px;
    border-radius: 30px;
    background-size: cover;
}
h2 {
    margin: 5px 0;
}
h3 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
}
.qr-code img {
    width: 50px;
}
p {
    font-size: 14px;
    margin: 5px;
    /* font-size: 5px;
    margin: 2px; */
}

.id_card_hook {
    background-color: #000;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
}
.id_card_hook:after {
    content: '';
    background-color: #d7d6d3;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
}
.id_card_tag_strip {
    width: 40px;
    height: 70px;
    background-color: #0950ef;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 10px;
    z-index: 1;
    border: 1px solid #0041ad;
}
.id_card_tag_strip:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c1c1c1;
    position: relative;
    top: 10px;
}
.id_card_tag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #0958db;
    margin: -10px auto -30px auto;
}
.my_card{
    width: 400px;
    height: 535px;
    border:none;
    transition: transform 0.3s;
    margin: 0 auto;
    margin-bottom: 50px;
}
.my_card:hover{
    transform: scale(1.10);
    cursor: pointer;

}
.my_card .item {
    width: 150px;
    height: 200px;
    border: 1px solid #828282;
    font-size: 35px;
    backface-visibility: hidden;
    transition: 1s;
}

.my_card .item.front {
    position: absolute;
    transform: rotateY(0deg);
}

.my_card:hover .item.front {
    transform: rotateY(180deg);
}

.my_card .item.back {

    transform: rotateY(-180deg);
}

.container:hover .item.back {
    transform: rotateY(0deg);
}
/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal h2{
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-bottom: 40px;
}
.modal_header{
    display: flex;
    justify-content: end;
    margin-right: 5px;
    position: absolute;
    right: 0px;
}
.modal_photo{
    border-radius: 30%;
    display: flex;
    justify-content: center;
}
.modal_place_left{
    width: 383px;
    height: 411px;
    display: flex;
    margin-left: 20px;
    margin-top: 65px;
}
.modal_review{
    width: 1000px;
    height: 411px;
    margin: 75px auto;
}
.modal_plan{
    width: 1000px;
    height: 411px;
    margin: 75px auto;
}
.modal_place_right{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 850px;
    background-color: #fff;
}
.modal-content2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 563px;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
}
.modal-content3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 630px;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
}
.modal-content4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 563px;
    background-color: #fff;
    border-radius: 0.5rem;
}
.modal-content5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 563px;
    background-color: #fff;
    border-radius: 0.5rem;
}
.modal_name label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15%;
}

.modal_name input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 17%;
}
.modal_name{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.modal_id label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15%;
}
.modal_email{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}
.modal_phonenum{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.modal_id input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 15%;
}
.modal_id{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
    margin-top: 30px;
}
.modal .close-button{
    font-size: 2rem;
    cursor: pointer;
}
.modal_password{
    display: flex;
    justify-content:start;
    margin-bottom: 30px;
}
.modal_password label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15%;
}

.modal_password input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 12.5%;
}

.modal_password_confirm{
    display: flex;
    justify-content:start;
    margin-bottom: 30px;
}
.modal_password_confirm label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15%;
}

.modal_password_confirm input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 7%;
}

.modal_password:nth-of-type(2) input {
    margin-left: 12.5%!important;
}
.modal_password input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 12.5%;
}
.modal_password:nth-of-type(2) input[type="text"] {
    margin-left: 7%;
}
.modal_phonenum label{
    display: block;
    margin-left: 15%;
    margin-bottom: 5px;
}
.modal_email label{
    display: block;
    margin-left: 15%;
    margin-bottom: 5px;
}
.modal_phonenum input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 12.5%;
}
.modal_email input[type="email"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 15%;
}
.modal_signupdate{
    display: flex;
    justify-content:start;
    margin-bottom: 30px;
}
.modal_signupdate input[type="text"] {
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left:13%
}
.modal_signupdate label{
    display: block;
    margin-left: 15%;
    margin-bottom: 5px;
}
.eyes {
    position: absolute;
    top: 380px;
    bottom: 0px;
    right: 190px;
    margin: 0 auto;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
}
.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f5f5f5;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: skyblue;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.button2 {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f5f5f5;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.button2:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgb(242, 116, 48);
    color: #fff;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
/* 그룹모달 페이지 css */
.right-content {
    padding: 10px 40px;
    overflow-y: auto;
    flex: 1;
}
.task-box {
    position: relative;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
    padding: 16px;
    box-shadow: 2px 2px 4px 0px rgba(235,235,235,1);
}



.time {
    margin-bottom: 6px;
    opacity: 0.4;
    font-size: 10px;
}

.task-name {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}

.more-button {
    position: absolute;
    border-radius: 50%;
    right: 20px;
    top: 30px;
    cursor: pointer;
    z-index: 9999;
}
.modal3-1{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal3-1-content {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 8px;
}

thead th {
    font-weight: bold;
}

button {
    cursor: pointer;
}

.members {
    display: flex;
    margin-top: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 250px;
    flex:1;
}

.members img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 4px;
    object-fit: cover;
}
.members img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.url-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 80px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .recentOrders {
        overflow-x: auto;
    }
    .status.inProgress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}
@media (max-width: 600px) {
    .modal .close-button {
        margin-right: 50px;
    }
}