@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* 공통요소 헤더부분 css 및 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);  body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, span, * {font-family: 'Noto Sans KR', sans-serif;}
html{scroll-behavior: smooth;}
*, *:before, *:after {box-sizing: border-box;}
.logo a {text-decoration-line: none;color: black;}
.logo b {font-size: 30px;}
.logo h7 {font-size: 15px;}
.logo:hover a{color: skyblue;}
body {max-width: 1920px;font-family: 'Noto Serif KR', serif;margin: 0;padding: 0;overflow-x: hidden;}
header {align-items: center; background-color:white; /* 원하는 색상으로 설정 */max-width: 1920px;color: #000;display: flex;justify-content: space-between;padding: 1%;}
.fixed-header {align-items: center;position: fixed;top: 0;width: 100%;z-index: 9999;background-color: #fff !important;transition: background-color 500ms linear; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;color: #000 !important;}
#mainNav li a::after {content: "";position: absolute;bottom: -1px;left: 50%;transform: translateX(-50%);height: 4px;background: #f1c40f;transition: all .2s ease-out;border-radius: 10px;width: 0;}
#mainNav li a:hover::after {width: 100%;}
#mainNav li a {color: black;padding: 10px 12px;position: relative;}
#mainNav ul {list-style: none;margin: 0;padding: 0;display: flex;}
#mainNav a {color: black;text-decoration: none;}
footer {height: 50px;background-color: #f5f5f5;display: flex;justify-content: center;align-items: center;font-size: 14px;color: #666;}
/* 공통요소*/
.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    padding: 10px 40px;
    font-size: 20px;
    background-color: skyblue;
    color: white;
}

#drop-content {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#drop-content a {
    display: block;
    font-size: 20px;
    background-color: #dfdfdf;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}

ul {
    display: initial;
    margin-block-start: initial;
    margin-block-end: initial;
    margin-inline-start: initial;
    margin-inline-end: initial;
    padding-inline-start: initial;
    list-style: none;
    padding-left: 0px;
}


.logo a {
    text-decoration-line: none;
    color: black;
}

.logo b {
    font-size: 30px;
}

.logo h7 {
    font-size: 15px;
}

body {
    max-width: 1920px;
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 푸터 */
footer {
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
}


.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    #startA {
        margin-top: 15%;
    }
}

/*********************************/
/********** 2 columns ************/
@media (min-width: 850px) {
    .c-md-2 {
        width: 43%;
    }
}

@media (min-width: 600px) and (max-width: 850px) {
    .c-md-2 {
        margin: 0 auto;
        width: 80%;
    }
}

/********** 2 columns ************/
/*********************************/
/*********************************/
/********** timeline *************/
.timeline {
    width: 100%;
}

.tl-header div {
    font-weight: 300;
    margin-bottom: 25px;
}

.tl-item {
    margin: 0px 0 0px 70px;
    position: relative;
}

.tl-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: skyblue;
    margin: 11px 0;
}

.tl-year-back {
    background: skyblue;
    width: 34px;
    height: 100px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    display: block;
}

.tl-year-wrap {
    margin-top: 5px;
}

.tl-year {
    position: absolute;
    top: 22px;
    left: -8px;
    transform: rotate(270deg);
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.tl-event {
    width: 200%;
    position: relative;
    padding-bottom: 50px;
    margin-top: -1px; /* IE EDGE bug */
}

.tl-event:before {
    content: "";
    position: absolute;
    background: skyblue;
    width: 34px;
    height: 100%;
    display: block;
}

.tl-event h2 {
    font-size: 15px;
    margin: 0;
    padding: 15px 15px 10px 45px;
}
#planName {
    font-size: 25px;
    margin: 0;
    padding: 15px 15px 10px 45px;
}

#planContents {
    font-size: 20px;
    margin: 0;
    padding: 15px 15px 10px 45px;
}

.tl-color {
    color: skyblue;
}

.tl-date {
    position: absolute;
    top: 17px;
    left: 0px;
    padding-right: 15px;
    z-index: 1000;
    color: #65bfda;
    font-weight: bold;
    font-size: 20px;
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100);
    transform: translateX(-100%);
}

.tl-date:after {
    position: absolute;
    right: -22px;
    top: 7px;
    content: "";
    background: #fbda1d;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
}

.tl-end {
    background: skyblue;
    width: 34px;
    height: 50px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: block;
    margin-bottom: 5px;
    margin-top: -1px; /* IE EDGE bug */
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}


.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

#map_div {
    position: fixed;
    margin: 0;
    padding: 0;
}


#mainContent #map_div {
    display: inline-block; /* 가로로 나열하기 위해 block레벨 요소를 inline-block레벨로 전환 */
    width: 200px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
    height: 200px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
}

#mainContent .c-md-2 {
    display: inline-block; /* 가로로 나열하기 위해 block레벨 요소를 inline-block레벨로 전환 */
}

.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.nav__cont:hover {
    width: 200px;
}
@media screen and (min-width: 600px) {
    .nav__cont {
        width: 80px;
    }
}

.nav {
    list-style-type: none;
    color: white;
}
.nav:first-child {
    padding-top: 1.5rem;
}

.nav__items {
    padding-bottom: 4rem;
    font-family: "roboto";
}
.nav__items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-weight: 100;
    font-size: 1.35em;
}
.nav__items a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}
.nav__items:hover a:after {
    opacity: 1;
}
.nav__items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    .nav__items svg {
        width: 32px;
        height: 32px;
        left: -15px;
    }
}

#result {
    font-size: 20px;
}