<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/myPage.css" type="text/css">
    <link rel="icon" href="/image/RTT-favicon.png" type="image/x-icon">
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/static">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>
    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/place">여행지</a></li>
            <li><a href="/guide">이용방법</a></li>
            <li><a href="#">일단빈칸</a></li>
            <li><a href="/board/list">후기게시판</a></li>
            <!-- 로그인  123 -->
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <!-- 이게 비로그인 456-->
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>

        </ul>
    </nav>
</header>

<div>
    <img th:src="@{/upload/default.jpg}" />

    <li>아이디 = <span th:text="${memberDTO.memberId}"></span></li>
    <li>이름 = <span th:text="${memberDTO.name}"></span></li>
    <li>이메일 = <span th:text="${memberDTO.email}"></span></li>
        <a href="profileEdit">ed</a>
</div>
</body>
</html>