<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/member/myPage/profileEdit" enctype="multipart/form-data">
    <div>
        <label>id</label>
        <input type="text" name="memberId" th:value="${memberDTO.memberId}">
        <label>id</label>
        <input type="name" name="name" th:value="${memberDTO.name}">
        <label>파일명</label>
        <input type="file" name="attach">
        <button type="submit">rr</button>
    </div>
</form>
</body>
</html>