<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div>
    <h3>게시물 작성</h3>
    <div>
        <form method="post">
            <div>
                <label>제목:</label>
                <input type="text" name="boardName">
            </div>
            <div>
                <label>내용:</label>
                <input type="text" name="boardContent">
            </div>

            <div>
                <label>작성일자:</label>
                <input type="number" name="boardDateCreate">
            </div>
            <div>
                <label>작성자:</label>
                <input type="number" name="boardWriter">
            </div>
            <div>
                <button>등록</button>
                <a href="list"><button type="button">취소</button></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>