<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RTT 소개 및 이용방법</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/123.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700i" rel="stylesheet">
</head>

<body>
<header>
  <!--LOGO-->
  <div class="logo">
    <a href="/">
      <b>RTT</b>
      <h7>&nbsp;READY TO TRAVEL</h7>
    </a>
  </div>
  <!--NAV-->
  <nav>
    <ul>
      <li><a href="/place">여행지</a></li>
      <li><a href="/guide">이용방법</a></li>
      <li><a href="/board/list">후기게시판</a></li>
      <!-- 로그인  123 -->
      <li><a th:if="${session.memberDTO != null}" href="/member/profile" th:text="${session.memberDTO.name}"></a></li>
      <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
      <!-- 이게 비로그인 456-->
      <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>
    </ul>
  </nav>
</header>
<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">떠나고싶은 당신을위한 여행플래너</h2>
    <h3 class="timeline-header__subtitle">사이트 소개 & 이용방법</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="사이트소개">
      <img class="timeline_bg_img" src=""
      />
      <div class="timeline__content"><img class="timeline__img" src=""
      />
        <h2 class="timeline__content-title">새로운 지역을 탐험하세요</h2>
        <p class="timeline__content-desc">우리는 새로운 장소를 탐험하고 경험하는 것을 좋아합니다<br>새로운 장소에서 우리는 자신을 발견하고 더 많은 것을 배울수 있습니다. 준비 되셨나요 ?

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="사이트소개">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="optimize.jfif"
      />
        <h2 class="timeline__content-title">견문을 넓히세요</h2>
        <p class="timeline__content-desc">새로운 사람들을 만나는 것은 늘 즐거운 경험이죠.<br> 새로운 사람들과 대화하며 자신의 삶에 대한 새로운 시각을 얻어보세요.

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="사이트소개">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="daejeon.jpg"
      />
        <h2 class="timeline__content-title">경험과 추억을 만드세요</h2>
        <p class="timeline__content-desc">여행은 새로운 경험과 추억을 만드는 것입니다. <br>지금 Ready To Travel과 함께 당신만의 여행 추억을 만들어보세요
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 1">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="signup.png"
      />
        <h2 class="timeline__content-title">회원가입</h2>
        <p class="timeline__content-desc">RTT 회원으로 가입하면 특별한 혜택과 다양한 기능을 경험해보실 수 있습니다! 지금 바로 가입하세요! <a href="https://www.naver.com" target="_blank">회원가입</a>

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 2">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plcae_modal.png"
      />
        <h2 class="timeline__content-title">여행지 선택</h2>
        <p class="timeline__content-desc">여행지둘러보셈 마음에드는 여행지를 눌러서 일정만들기 버튼을 누르셈
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 3">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plan_date.png"
      />
        <h2 class="timeline__content-title">날짜 선택</h2>
        <p class="timeline__content-desc">계획생성 페이지 날짜를 먼저 선택하셈

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 4">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plan_maker.png"
      />
        <h2 class="timeline__content-title">경로 선택</h2>
        <p class="timeline__content-desc">출발지 도착지 경유지 순으로 마커를 찍으셈 ( 경로최적화 ) 확인하셈
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 5">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plan_save.png"
      />
        <h2 class="timeline__content-title">일차별 저장</h2>
        <p class="timeline__content-desc">여행 상세설정 버튼을 누르고 방금찍은마커가 몇일차 계획인지 등록하셈
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 6">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plan_save.png"
      />
        <h2 class="timeline__content-title">계획정보 입력</h2>
        <p class="timeline__content-desc">선택한 기간(날짜)동안 여행할 계획의 이름 과 내용, 여행종류를 적으셈(혼자,가족,커플)

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Step 7">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="plan_create.png"
      />
        <h2 class="timeline__content-title">계획 만들기</h2>
        <p class="timeline__content-desc">다시한번 잘 체크하고 계획생성 버튼을 누르셈
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Check">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="myPage.png"
      />
        <h2 class="timeline__content-title">한눈에 확인하기</h2>
        <p class="timeline__content-desc">마이페이지에서 관련기능 활용가능하셈
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Start Now !">
      <img class="timeline_bg_img" src="mainN7.jpg"
      />
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/pf3vw75bBQEVOCjryuJcFmqs7etYkVdGIFnucgAb85Ex5075xfMPNKBFNpgAzuoNHzzQVe1zQSRFJy6mFGw6qiSzArQqZN4aUMh3wZNDYLK5dvAsbUCgTSa650t4oYuksUddZ69f7aC6yBcUVJGK7bzn907-DeAKLIPFEQnlPbgvy9U7oEomBIOTfYWS8esi-oiUqC1LjkS9Ogex9JJocVaqQdaJ59NLxnFqWuBGIKwVVpbJ1SS8F-tlr7UvE_LCVuMsdOvdlOTNiREuc8M23e1Wi2L561uxF7ZjG2QOxRiTro_0Q6n85gCNE_msgeqpHNbq9THTgrnGchYR7WxeedE_kRxNv9liGcziYCbyJZF-EqNOlpU2Pk66ZXSFTe9QU8s13jMrnzNLzNiJTu4TKYmsXriUb0YKWUd_irzJthar-s52w41rUAHIYKpLbcHCOQqz33QiLKyvLCWiI-8gRh_HmBd6i06f5py8FYIJ8teSv0gM13iuynVNs4gfUOlB5p2MCkGZEo6j5jYxDoII5P_pnrlDQDYrWqoXReKk5zGcvKoRQkvKWPTiBQ6aQvs48er8c0v_ujn6CPO-ceKHA6vlUcGXk0FmyIkkbfmSht-uKWaTG5lLFBkZMqZOSaYBE2EdYscCo4k3fqlMag-_EV9oXtuoNMIskCMlR8z5PFgfyJCA9_0gCR4MNtEyeqnGPTBEqVkm6Dp2njLQqHUKIFmJyIko1UN8glg74I6JbLH_MNRt=w1098-h1332-no"
      />
        <h2 class="timeline__content-title">시작하세용!</h2>
        <p class="timeline__content-desc">ㅎㅎ
        </p>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/123.js"></script>
  <div>
    <footer>
      <img class="timeline_bg_img" src="mainN7.jpg"
      /><p>Copyright &copy; 2023
    </p>

    </footer>
  </div>
</body>

</html>