<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTT 소개 및 이용방법</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/123.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700i" rel="stylesheet">
</head>

<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>
    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/place">여행지</a></li>
            <li><a href="/guide">이용방법</a></li>
            <li><a href="/board/list">후기게시판</a></li>
            <!-- 로그인  123 -->
            <li><a th:if="${session.memberDTO != null}" href="/member/profile" th:text="${session.memberDTO.name}"></a>
            </li>
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <!-- 이게 비로그인 456-->
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>
        </ul>
    </nav>
</header>
<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
        <h2 class="timeline-header__title">떠나고싶은 당신을위한 여행플래너</h2>
        <h3 class="timeline-header__subtitle">사이트 소개 & 이용방법</h3>
    </div>
    <div class="timeline">
        <div class="timeline-item" data-text="사이트소개">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"/>
            <div class="timeline__content"><img class="timeline__img" src="/image/place.png"
            />
                <h2 class="timeline__content-title">새로운 지역을 탐험하세요</h2>
                <p class="timeline__content-desc">우리는 새로운 장소를 탐험하고 경험하는 것을 좋아합니다<br>새로운 장소에서 우리는 자신을 발견하고 더 많은 것을 배울수
                    있습니다. 준비 되셨나요 ?

                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="사이트소개">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/gyeonmun.png"
            />
                <h2 class="timeline__content-title">견문을 넓히세요</h2>
                <p class="timeline__content-desc">새로운 사람들을 만나는 것은 늘 즐거운 경험이죠.<br> 새로운 사람들과 대화하며 자신의 삶에 대한 새로운 시각을 얻어보세요.

                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="사이트소개">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/chu.png"
            />
                <h2 class="timeline__content-title">경험과 추억을 만드세요</h2>
                <p class="timeline__content-desc">여행은 새로운 경험과 추억을 만드는 것입니다. <br>지금 Ready To Travel과 함께 당신만의 여행 추억을
                    만들어보세요
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 1">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/signup.png"
            />
                <h2 class="timeline__content-title">회원가입</h2>
                <p class="timeline__content-desc">RTT 회원으로 가입하면 특별한 혜택과 다양한 기능을 경험해보실 수 있습니다! 지금 바로 가입하세요!
                    <br>
                    <a style="text-decoration: none" href="/member/signup" target="_blank">회원가입</a>
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 2">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/placeModal.png"
            />
                <h2 class="timeline__content-title">여행지 선택</h2>
                <p class="timeline__content-desc">마음에드는 여행지를 눌러서 일정을 만들어보세요
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 3">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/calender.png"
            />
                <h2 class="timeline__content-title">날짜 선택</h2>
                <p class="timeline__content-desc">여행을 가고 싶은 날짜를 선택 해주세요

                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 4">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/marker.png"
            />
                <h2 class="timeline__content-title">경로 선택</h2>
                <p class="timeline__content-desc">출발지, 도착지, 경유지를 클릭해 마커를 등록하세요
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 5">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/markerSave.png"
            />
                <h2 class="timeline__content-title">일차별 저장</h2>
                <p class="timeline__content-desc">일차별 마커 등록이 끝났다면 버튼을 눌러 해당 일자에 저장 하세요
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Step 6">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/planContents.png"
            />
                <h2 class="timeline__content-title">계획정보 입력</h2>
                <p class="timeline__content-desc">선택한 기간동안 여행할 계획의 이름과 내용 여행 종류를 선택후 저장하세요

                </p>
            </div>
        </div>
        <!--        <div class="timeline-item" data-text="Step 7">-->
        <!--            <img class="timeline_bg_img" src="/image/mainN7.jpg"-->
        <!--            />-->
        <!--            <div class="timeline__content"><img class="timeline__img" src="/image/plus.png"-->
        <!--            />-->
        <!--                <h2 class="timeline__content-title">계획 만들기</h2>-->
        <!--                <p class="timeline__content-desc">이제 완료됐습니다!-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="timeline-item" data-text="Check">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img" src="/image/myPage.png"
            />
                <h2 class="timeline__content-title">한눈에 확인하기</h2>
                <p class="timeline__content-desc">마이페이지에서 관련 여러가지 관련 기능을 활용 할 수 있어요!
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="Start Now !">
            <img class="timeline_bg_img" src="/image/mainN7.jpg"
            />
            <div class="timeline__content"><img class="timeline__img"
                                                src="/image/myGroup.png"
            />
                <h2 class="timeline__content-title">같이 여행을 떠나는 동행자를 초대하세요</h2>
                <p class="timeline__content-desc">그룹별 초대 코드를 통해 동행자를 초대 할 수 있습니다!
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/123.js"></script>
    <div>
        <footer>
            <img class="timeline_bg_img" src="/image/mainN7.jpg"/>
            <p>Copyright &copy; 2023
            </p>

        </footer>
    </div>
</div>
</body>

</html>