<!------------------------------------------------------------------------------------
 ____                    _          _____          _____                            _
| ___ \                 | |        |_   _|        |_   _|                          | |
| |_/ /  ___   __ _   __| | _   _    | |    ___     | |   _ __   __ _ __   __  ___ | |
|    /  / _ \ / _` | / _` || | | |   | |   / _ \    | |  | '__| / _` |\ \ / / / _ \| |
| |\ \ |  __/| (_| || (_| || |_| |   | |  | (_) |   | |  | |   | (_| | \ V / |  __/| |
\_| \_| \___| \__,_| \__,_| \__, |   \_/   \___/    \_/  |_|    \__,_|  \_/   \___||_|
                             __/ |
                            |___/
------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html style="width: 100%" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ready To Travel</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <b>RTT</b>
            <h7>&nbsp;READY TO TRAVEL</h7>
        </a>
    </div>
    <!--NAV-->
    <nav>
        <ul>
            <li><a href="/place">여행지</a></li>
            <li><a href="/guide">이용방법</a></li>
            <li><a href="/board/list">후기게시판</a></li>
            <!-- 로그인  123 -->
            <li><a th:if="${session.memberDTO != null}" href="/member/profile" th:text="${session.memberDTO.name}"></a></li>
            <li><a th:if="${session.memberDTO != null}" href="/member/logout">로그아웃</a></li>
            <!-- 이게 비로그인 456-->
            <li><a th:if="${session.memberDTO == null}" href="/member/login">로그인</a></li>

        </ul>
    </nav>
</header>

<div id="main2">
    <div class="container">
        <div class="left-side">
            <h4>떠나고 싶은 당신을 위한 여행 플래너</h4>
            <h1 style="font-size: 56px" id="mainH1">READY <br>TO<br> TRAVEL</h1>
            <div id="startA"><a href="plan/createPlan" style="text-decoration-line: none; color: white">시작하기</a></div>
        </div>
        <div class="right-side">
            <video id="video" autoplay muted loop></video>
        </div>
    </div>
</div>
</body>
<script src="/js/index.js"></script>
</html>