<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/tmapV2"> V2 </a>
</div>
<div>
    <a href="/tmapV3"> V3 </a>
</div>
<div>
    <a href="/weather"> V3 </a>
</div>


<div>
    <form type="post" action="plan/add">
        <input type="date">
        <button> 여행 계획 짜기</button>
    </form>
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="/board/create">

        <div>
            <label>첨부 파일</label>
            <input type="file" name="multipartFile"/>
        </div>

        <div>
            <label>첨부 파일</label>
            <input type="file" name="multipartFile"/>
        </div>

        <div>
            <label>게시글 제목</label>
            <input type="text" name="boardName"/>
        </div>

        <div>
            <label>게시글 내용</label>
            <input type="text" name="boardContent">
        </div>

        <button>테스트</button>
    </form>
</div>

</body>
</html>