<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여행지</title>
    <link rel="stylesheet" href="/css/place.css">
</head>
<body>
<main class="container">

    <div class="search">
        <input type="text" placeholder="Search" />
        <button>검색</button>
    </div>
    <div class="cards">
        <div class="card">
            <img src="https://www.dropbox.com/s/xli91dh23u9xndf/seoul.jpg?dl=1" />
            <h3>SEOUL</h3>
            <p>대한민국 서울</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/cf0xz9pwmfz2bv2/mokpo.jpg?dl=1" />
            <h3>MOKPO</h3>
            <p>대한민국 목포</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/5yvo134a9bqgcks/daejeon.jpg?dl=1" />
            <h3>DAEJEON</h3>
            <p>대한민국 대전</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/rwogorlkgxf3x1f/jeonju.jpg?dl=1" />
            <h3>JEONJU</h3>
            <p>대한민국 전주</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/mfm4xqbh77wt19v/tongyeong.jpg?dl=1" />
            <h3>TONGYEONG</h3>
            <p>대한민국 통영</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/mbwg409dcj2c9ji/jeju.jpg?dl=1" />
            <h3>JEJU</h3>
            <p>대한민국 제주도</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/j6sq2xbwnb5c89p/pohang.jpg?dl=1" />
            <h3>POHANG</h3>
            <p>대한민국 포항</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/stcz4lkwwmullc1/ulleung.jpg?dl=1" />
            <h3>ULLEUNG</h3>
            <p>대한민국 울릉도</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/1lgqiyrhyazxb5u/jecheon.jpg?dl=1" />
            <h3>JECHEON</h3>
            <p>대한민국 제천</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/rlgd2wfd6gjkmu3/chuncheon.jpg?dl=1" />
            <h3>CHUNCHEON</h3>
            <p>대한민국 춘천</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/bbbhjj9828w184b/namwon.jpg?dl=1" />
            <h3>NAMWON</h3>
            <p>대한민국 남원</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/cfncgt8n6k0if1y/yeosu.jpg?dl=1" />
            <h3>YEOSU</h3>
            <p>대한민국 여수</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/u9h94s9jovlumkm/busan.jpg?dl=1" />
            <h3>BUSAN</h3>
            <p>대한민국 부산</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/nq1wmwnlhk56bfd/gangneung.jpg?dl=1" />
            <h3>GANGNEUNG</h3>
            <p>대한민국 강릉</p>
        </div>

        <div class="card">
            <img src="https://www.dropbox.com/s/cqdqbfgthcn3mpu/gyeongju.jpg?dl=1" />
            <h3>GYEONGJU</h3>
            <p>대한민국 경주</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/okdx7spa2ki75i9/andong.jpg?dl=1" />
            <h3>ANDONG</h3>
            <p>대한민국 안동</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/7e334mi999s5ly3/incheon.jpg?dl=1" />
            <h3>INCHEON</h3>
            <p>대한민국 인천</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/wjtmm5ika6lpct1/gunsan.jpg?dl=1" />
            <h3>GUNSAN</h3>
            <p>대한민국 군산</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/jodnrbrelvro332/suwon.jpg?dl=1" />
            <h3>SUWON</h3>
            <p>대한민국 수원</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/8i349s7vj1ox7up/gapyeong.jpg?dl=1" />
            <h3>GAPYEONG</h3>
            <p>대한민국 가평</p>
        </div>
        <div class="card">
            <img src="https://www.dropbox.com/s/n2yko0l560b06aq/yeongwol.jpg?dl=1" />
            <h3>YEONGWOL</h3>
            <p>대한민국 영월</p>
        </div>
    </div>
</main>
<footer>
    <p>Copyright &copy; 2023
    </p>
</footer>

</body>

<script src="/js/index.js"></script>

</html>