<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/testList.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <meta charset="UTF-8">
    <title>머시보라</title>
</head>
<body>
<section class="timeline">
  <ul>
    <li>
      <div class="reveal">
        <p><phase>1.여행지 선택</phase>
          먼저 여행을 떠날 도시를 선택하세요.
          도시를 선택하고 간단한 여행 정보들을 확인해보세요.</br>
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p>
          <phase>2.장소 선택</phase>
          여행 일자, 숙소, 가고 싶은 장소만 선택하세요.</br>
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p>
          <phase>3.일정 확인 및 편집</phase>
          블라블라 블라블바</br>
          그냥저냥 작성확인하세요</br>
          알겟냐공</br>
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p>
          <phase>PHASE 4</phase>
          CoralCoin Store Launches</br>
          Merchant Exchange Platform Development Starts</br>
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p>
          <phase>PHASE 5</phase>
          CoralCoin App Development Starts
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p>
          <phase>PHASE 6</phase>
          Partnership With Online Vendors </br>
          Mobile Wallet Development Begins</br>
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 7</phase>
          To be revealed
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 8</phase>
          To Be Revealed</br>


        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 9</phase>
          To be revealed
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 10</phase>
          To be revealed
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 11</phase>
          To be revealed
        </p>
      </div>
    </li>
    <li>
      <div class="reveal">
        <p class="blurry-text">
          <phase>PHASE 12</phase>
          To be revealed
        </p>
      </div>
    </li>
  </ul>
</section>
<script src="/js/testList.js"></script>
</body>
</html>