<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>tmapV2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=mQ4HvTM9bt4MjOIrpaXtx8fceh2MLugd3bjz0NlG"></script>
    <script type="text/javascript" src="/js/tmapApi.js"></script>

</head>
<body><!-- 맵 생성 실행 -->
<div id="container">
    <div id="sidebar1">
        <div>
            <input type="checkbox" id="checkbox1" onchange="myFunction1()">
            <label for="checkbox1">체크박스1</label>
            <img id="wf4AmInfo">
            <p id="result"></p>

            <button id="createOPT" type="button">submit</button>
            <button id="removeOPT" type="button">cancel</button>
        </div>

        <div>
            <input type="checkbox" id="checkbox2" onchange="myFunction2()">
            <label for="checkbox2">체크박스2</label>
        </div>
    </div>

    <div id="map_div"></div>

    <div id="sidebar2">
        <!-- #sidebar2 안의 내용 -->
    </div>
</div>
</body>
</html>
